Flask==0.12.2
Flask-WTF==0.14.2
Jinja2==2.9.6
MarkupSafe==1.0
Pillow==6.2.0
WTForms==2.1
Werkzeug==0.12.2
certifi==2017.7.27.1
chardet==2.2.1
click==6.7
colorama==0.2.5
decorator==3.4.0
google-api-python-client==1.6.4
html5lib==0.999
httplib2==0.10.3
ipython==1.2.1
itsdangerous==0.24
oauth2client==4.1.2
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycurl==7.19.3
pymongo==3.5.1
pyparsing==2.0.1
python-dateutil>=2.0
pytz==2012c
requests==2.2.1
rsa==3.4.2
schedule==0.4.3
simplegeneric==0.8.1
six==1.11.0
tornado==3.1.1
uritemplate==3.0.0
urllib3==1.7.1
gunicorn
