#logo{
    max-width: 100%;
    height: 200px;
    width:200px;
    display: block;
    margin: 0 auto;
}

.navbar-brand>img {
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;
}

.banner{
    font-family: sans-serif;
    color: #fff;
    text-shadow: #474747 1px 1px 2px;
    text-align:center;
    background-color: #f7941e ;
    padding-top:1px;

}

#copy{
    color:#fff;
}


#foto{
    max-width: 100%;
    height: auto;
    width:auto;
    display: block;
    margin: 0 auto;
    padding-bottom:10px;
}

html{
    /*Fixed padding for all the site*/
    padding-bottom: 60px;
}

#submit{
    /*Extra padding for the register form*/
    margin-bottom: 10px;
}

#logout{
    /*Extra padding for the register form*/
    margin-bottom: 10px;
}
.titleSec { 
    color: #ff4a4a;; 
    font-family: 'Helvetica Neue', 
    sans-serif; 
    font-weight: bold; letter-spacing: -1px; 
    line-height: 1; text-align: center; }

h1 {
  font-size: 3.5vh;
}

h2 {
    font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}

h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;
 
}

.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}

.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

.inv{
    display: none;
}

.catStyle{
    color: #ff5050; 
    font-family: 'Raleway',sans-serif; 
    font-size: 20px; 
    font-weight: 800; 
    pointer-events: none;
}

textarea{
    resize: none;
    width: 100%;
}

.btn{
    margin-right: 10px;
}