#logo{
    max-width: 100%;
    height: 250px;
    width:250px;
    display: block;
    margin: 0 auto;
}

.navbar-brand>img {
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;
   
   /* probably not needed anymore, but doesn't hurt */
   -o-object-fit: contain;
   object-fit: contain; 
}

#par1{
    font-family: sans-serif;
    color: #fff;
    text-shadow: #474747 1px 1px 2px;
    text-align:center;
    background-color: #f7941e ;
    padding-top:30px;
    padding-bottom:50px;
}

#copy{
    color:#fff;
}

#desc{
    font-size:20px;
}

.main {
    margin-bottom: 100px; /* Add a bottom margin to avoid content overlay */
}

#foto{
    max-width: 100%;
    height: auto;
    width:auto;
    display: block;
    margin: 0 auto;
    padding-bottom:20px;
}

body{
    padding-bottom: 80px;
}
