{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/accessDenied.css">
<div class="fondo">
    <div id="spam">
        <h1 class="warning"><spam>X</spam> Acceso denegado(403)</h1>
        <p class = "desc">Se está tratanto de acceder a contenido seguro<br/><br/>
        <small>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</small></p>
    </div><br><br>
</div>

{% endblock %}