{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer1",
	{
		
		animationEnabled : true,
		exportFileName: "Balance Gastos Semanales",
		// exportEnabled: true,
		title:{
			text: "Balance Gastos Semanales"
		},
		backgroundColor:  "rgba(255, 0, 0, 0)",
		data: [
		{
			type: "pie",
			
			legendText: "{indexLabel}",
			toolTipContent: "{y} - #percent %",
			showInLegend: true,
			dataPoints: [
			{% for category in categories%}
				{ y: {{category['totalCost']}} , indexLabel: "{{category['name']}}"},
			{% endfor %}
			]
		},
		]
	});
	chart.render();

var chart2 = new CanvasJS.Chart("chartContainer2",
	{
		
		animationEnabled : true,
		exportFileName: "Resumen MyBudget",
		// exportEnabled: true,
		title:{
			text: "Resumen MyBudget©"
		},
		data: [
		{
			type: "bar",
			
			name: "Categorías",
			showInLegend: false,
			dataPoints: [
				{ y: {{entity['incomesTotal']}} , label: "Total de ingresos"},
				{ y: {{entity['expensesTotal']}} , label: "Total de gastos"},
				{ y: {{entity['budget']}} , label: "Presupuesto"},
			
			]
		},
		]
	});
	chart2.render();
}
</script>

<div id="chartContainer1" style="height: 300px; width: 100%;"></div>
<br>
<hr>
<br>
<div id="chartContainer2" style="height: 300px; width: 100%;"></div>
<br>
<div class="col-lg-6 col-md-offset-6">
    <a href="{{goBackLink}}" class="btn btn-danger pull-right" id="logout">Volver al lobby</a>
</div>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

{% endblock %}