{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer1",
	{
		title:{
			text: "Balance Gastos Semanales"
		},
		data: [
		{
			type: "bar",
			name: "Categorías",
			color: "#014D65",
			showInLegend: true,
			dataPoints: [
			{% for category in categories%}
				{ y: {{category['totalCost']}} , label: "{{category['name']}}"},
			{% endfor %}
			]
		},
		]
	});
	chart.render();

var chart2 = new CanvasJS.Chart("chartContainer2",
	{
		title:{
			text: "Detalles usuario"
		},
		data: [
		{
			type: "bar",
			name: "Categorías",
			showInLegend: false,
			dataPoints: [
				{ y: {{user['incomesTotal']}} , label: "Total de ingresos"},
				{ y: {{user['expensesTotal']}} , label: "Total de gastos"},
				{ y: {{user['budget']}} , label: "Presupuesto"},
			
			]
		},
		]
	});
	chart2.render();
}
</script>

<div id="chartContainer1" style="height: 300px; width: 100%;"></div>
<div id="chartContainer2" style="height: 300px; width: 100%;"></div>


<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

{% endblock %}