{% extends "base.html" %}


{% block content %}
<div class="col-lg-6 col-md-offset-2">
    <div id="Presupuestos compartidos">
        <h1 class="bienvenidoUsuario"><b>{{ welcome }}, {{ name }}</b></h1>
    </div>
</div>

<div class="col-lg-8 col-md-offset-2">
    <h2>Presupuestos Colaborativos</h2>
    <div class="panel panel-default">
        <div class="panel-body">
                <div id="Presupuestos compartidos">
                    {% if not groups %}
                    <h3>No se encuentra vinculado a ningun presupuesto colaborativo</h3>
                    {% endif %}
                    {% if groups %}
                    <label>Seleccione un presupuesto grupal</label>
                      <select class="form-control" name="cat" id="targetGroup">
                        <option value="">Seleccione...</option>
                        {% for group in groups %}
                        <option value="{{group['subject']}}">{{group['subject']}}</option>
                        {% endfor %}
                      </select>
                    {% for group in groups %}
                    <div id="{{group['subject']}}" class="inv group">
                        <a href="/lobbyGroup?groupId={{group['_id']}}" class="btn btn-warning btn-sm" id="selectGroup" style="margin-top:10px">Ingresar al lobby grupal</a>
                    </div>
                    {% endfor %}
                    
                    {% endif %}
                    
                </div>
               
                <div>
                    {% if groups %}
                    <br>
                    {% endif %}
                    <a href="/createColabBudget" class="btn btn-warning pull-left" id="createColab">Crear presupuesto colaborativo</a>
                </div>
        </div>
    </div>
    <hr>
    <h2>Presupuesto personal</h2>
    <div class="panel panel-default">
        <div class="panel-body">
                <div id="presupuesto personal">
                    
                    <h3>Tu presupuesto personal es : {{budget}}</h3>
                    <h4>El monto total de tus ingresos es: {{incomesTotal}}</h4>
                    <h4>El monto total de tus gastos es: {{expensesTotal}}</h4>
                    <a data-fancybox data-type="iframe" href="/incomeHist">Detalles de ingresos anteriores</a> 
                    <div>
                        <br>
                        <a href="/deposit" class="btn btn-warning pull-left" id="createInc">Depositar Ingreso</a><br><br>
                    </div>
                    <hr>
                    <h3>Gastos totales por categoría</h3>
                    <label>Seleccione una categoría</label>
                    <select class="form-control" name="cat" id="targetCat">
                        <option value="">Seleccione...</option>
                        {% for category in categories %}
                        <option value="{{category['name']}}">{{category['name']}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <div class="col-lg-13 col-md-offset-1">
                        {% for category in categories %}
                        <div id="{{category['name']}}" class="inv cat">
                            <a data-fancybox data-type="iframe" data-src="/expenseHist?category={{category['name']}}">Detalles de gastos</a>
                            <br>
                            <a class="catStyle" >Categoria: </a><a class="catStyle2">{{category['name']}}</a>
                            <br>
                            <a class="catStyle">Descripción: </a><br><a class="catStyle2">{{category['description']}}</a>
                            <br>
                            <a class="catStyle">Gasto total: </a> <a class="catStyle2">{{category['totalCost']}}</a>
                        </div>
                        {% endfor %}
                        <br>
                    </div>
                </div>
                <div>
                    <a href="/crearCategoria" class="btn btn-warning pull-left btn1" id="createCat">Crear Categoría</a>
                    {% if categories %}
                    <a href="/gasto" class="btn btn-warning pull-left btn2" id="createExp">Nuevo gasto</a>
                    {% endif %}
                </div>
                <div>
                    <br><br>
                    <a href="/balance" class="btn btn-success pull-left" id="balance">Ver balance</a>
                </div>
            </div> 
        </div>
    </div>
</div>
<br>
<div class="col-lg-6 col-md-offset-4">
    <a href="/logout" class="btn btn-danger pull-right" id="logout">Cerrar sesión</a>
</div>


<script type="text/javascript" src="/static/selectCat.js"></script>


{% endblock %}