{% extends "base.html" %}


{% block content %}
<div class="col-lg-6 col-md-offset-2">
    <div id="Presupuestos compartidos">
        <h1><b>{{ welcome }}, {{ name }}</b></h1>
    </div>
</div>

<div class="col-lg-8 col-md-offset-2">
    <h2>Presupuestos Colaborativos</h2>
    <div class="panel panel-default">
        <div class="panel-body">
                <div id="Presupuestos compartidos">
                    
                    <h3>No se encuentra vinculado a ningun presupuesto colaborativo</h3>
                    
                </div>
        </div>
    </div>
    <hr>
    <h2>Presupuesto personal</h2>
    <div class="panel panel-default">
        <div class="panel-body">
                <div id="presupuesto personal">
                    
                    <h3>Tu presupuesto personal es : {{budget}}</h3>
                    <div class="col-lg-10">
                        <a href="/deposit" class="btn btn-warning pull-left" id="createCat">Depositar Ingreso</a><br><br>
                    </div>
                    <br><br>
                    <label>Seleccione una categoría</label>
                    <select class="form-control" name="cat" id="target">
                        <option value"">Seleccione...</option>
                        {% for category in categories %}
                        <option value="{{category['name']}}">{{category['name']}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <div class="col-lg-6">
                        {% for category in categories %}
                        <div id="{{category['name']}}" class="inv">
                            <a class="catStyle" >Categoria: </a>{{category['name']}}
                            <br>
                            <a class="catStyle">Descripción: </a><br>{{category['description']}}
                            <br>
                            <a class="catStyle">Gasto total: </a> {{category['totalCost']}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <br><br>
                <div class="col-lg-10">
                    <a href="/crearCategoria" class="btn btn-warning pull-left" id="createCat">Crear Categoría</a>
                </div>
            </div> 
        </div>
    </div>
</div>
<br>
<div class="col-lg-6 col-md-offset-2">
    <a href="/logout" class="btn btn-danger pull-right" id="logout">Cerrar sesión</a>
</div>


<script type="text/javascript" src="/static/selectCat.js"></script>


{% endblock %}