{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <form role="form">
            <div class="col-lg-6 col-md-offset-3">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Campo obligatorio</strong></div>
                <div class="form-group">
                    <label for="InputName">Ingrese nombre</label>
                    <div class="input-group">
                        <input type="text" required  oninvalid="this.setCustomValidity('Por favor llene este campo')" class="form-control" name="InputName" id="InputName" placeholder="Ingrese nombre" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Ingrese correo</label>
                    <div class="input-group">
                        <input type="email" required  oninvalid="this.setCustomValidity('Por favor llene este campo')" class="form-control" id="InputEmailFirst" name="InputEmail" placeholder="Ingrese correo" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Confirme correo</label>
                    <div class="input-group">
                        <input type="email" required  oninvalid="this.setCustomValidity('Por favor llene este campo')" class="form-control" id="InputEmailSecond" name="InputEmail" placeholder="Confirme correo" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <input type="submit" name="submit" id="submit" value="Registrar" class="btn btn-info pull-right">
            </div>
        </form>
    </div>
</div>

{% endblock %}